* {
  background-color: #3c3d3c;
}
.square {
  width: 50px;
  height: 50px;
  background-color: #232423;
  color: rgb(250, 237, 56);
  font-size: larger;
  font-weight: bold;
  margin: 1px;
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.7);
}
.row {
  margin: 0px;
  padding: 0px;
  display: flex;
}
.game-board {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}
.game-info {
  div {
    display: flex;
    justify-content: center;
  }
  padding-top: 20px;
}
ul {
  list-style-type: none;
  padding: 0px;
  button {
    height: 35px;
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #ffebcd;
  }
}
b {
  color: #9faf90;
  opacity: 0.6;
  font-size: 17px;
  font-weight: 700;
}
.learn-more {
  border-radius: 5px;
  background-color: rgb(140, 158, 117);
  font-weight: 600;
}
@media (max-width: 380px) {
  .square {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  ul {
    li {
      display: flex;
      justify-content: center;
    }
  }
}
@media (min-width: 381px) and (max-width: 480px) {
  .square {
    width: 65px;
    height: 65px;
    font-size: 35px;
  }
  ul {
    li {
      display: flex;
      justify-content: center;
    }
  }
}
@media (min-width: 481px) and (max-width: 650px) {
  .square {
    width: 75px;
    height: 75px;
    font-size: 45px;
  }
  ul {
    li {
      display: flex;
      justify-content: center;
    }
  }
}
@media (min-width: 650px) {
  .square {
    width: 90px;
    height: 90px;
    font-size: 55px;
  }
  ul {
    display: flex;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 5px;
    margin-left: 5px;
  }
}
